@model IEnumerable<MVC_CRUD.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Kullanıcı Listesi</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Adı)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Soyadı)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yas)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KullanıcıID },new { @class = "btn btn-success" }) |
            @Html.ActionLink("Göster", "Details", new { id=item.KullanıcıID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KullanıcıID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
